<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>
<body onload="showPage()">
    <div class="preloader" id="loader1234">
        <!-- <h1>LOADING</h1> -->
        <!-- <img SRC="../static/images/preloader.gif"> -->
    </div>
    <div class="container" id="search1234">
        <h1>Ask me</h1>
        <form class="search-form" method="post" action="/">
            <input type="text" name="query" class="search-input" placeholder="Search...">
            <br>
            <input type="submit" value="Search" class="search-button" onclick="loadPage()">
        </form>
    </div>
    <script>
        // var myVar;
        
        function loadPage() {
            document.getElementById("search1234").style.display = "none";
            document.getElementById("loader1234").style.display = "block";

        }
        
        function showPage() {
          document.getElementById("loader1234").style.display = "none";
          document.getElementById("search1234").style.display = "block";
        }
        </script>
</body>
</html>
