<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>
<body onload="showPage()">
    <div id="loader99">
        <div class="preloader" id="loader1234">
        </div>
        <h6 style="color: rgba(69, 62, 62, 0.595);">Populating Database...</h6>
    </div>
    <div class="container" id="search1234">
        <img src="/static/images/logo.png",alt='logo', style="width: 800px; border-radius: 38px; height: 300px;"/>
        <form class="search-form" method="post" action="/">
            <input type="text" name="query" class="search-input" placeholder="Search...">
            <br>
            <input type="submit" value="Search" class="search-button" onclick="loadPage()">
        </form>
    </div>
    <script>        
        function loadPage() {
            document.getElementById("loader99").style.display = "block";
            document.getElementById("search1234").style.display = "none";

        }
        
        function showPage() {
          document.getElementById("loader99").style.display = "none";
          document.getElementById("search1234").style.display = "block";
        }
    </script>
</body>
</html>
