body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  /* background-color: rgba(230, 199, 130, 0.546); */
}

.results-container {
    width: 70%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    justify-content: left;
}

.result-title {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.result-title>a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.933);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.result-url>a {
    text-decoration: none;
    color: #006621;
    font-size: 14px;
    margin-bottom: 5px;
}

.result-snippet {
    line-height: 1.5;
    margin-bottom: 25px;
}

.container {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* increase input search width when selected */
.search-input:focus {
  width: 40%;
  transition: width 0.5s ease-in-out;
}

/*change color of search button after hovering*/
.search-button:hover {
  background-color: #0d103c7d;
  transition: background-color 0.3s ease-in-out;
}


.search-form {
    margin-top: 25px;
}

.search-input {
    width: 400px;
    height: 30px;
    font-size: 16px;
    padding-left: 15px;
    border-radius: 38px;
}

.search-button {
  color: azure;
  margin: 15px;
  width: 5%;
  height: 35px;
  font-size: 16px;
  background-color: #999bb7d3;
  border: 1px solid #f8f9fa;
  cursor: pointer;
  border-radius: 38px;
}

#loader1234 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  left: 50%;
  top: 30%;
  z-index: 999;
  width: 80px;
  height: 80px;
  margin: -76px 0 0 -76px;
  border: 10px solid #f2f1f6d6;
  border-radius: 50%;
  border-top: 10px solid #0c7ca1b1;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#loader99 {
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  left: 50%;
  top: 60%; 
  z-index: 999;
  transform: translate(-50%, -50%);
  padding-top: 100px;
  padding-right: 40px;
}
